.div1{
    display: flex;
    text-align: center;
	margin-left: 50px
}
.div2{
	margin-top: 40px;
    display: flex;
    margin-left: 50px
}
.div3{
	text-align: right;
}
.header{
	margin-top: 50px;
	margin-left:  250px;
	margin-right: 250px;
}
.link{
	margin-top: 50px;
}
a:link{
    text-decoration: blink;
}
