.header{
    display: flex;
    padding-left: 100px;
    margin-top: 40px;
}
.div1{
	text-align: center;
	padding-left: 200px 
}
a:link{
    text-decoration: blink;
}
.div2{
	text-align: center;
	margin: 60px;
}